// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
}

form {
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(65, 134, 159);
}

.taskitem {
  display: flex;
  content-align: center;
  padding: 2px 2px 0px 0px;
  color: rgb(65, 134, 159);
}

.tasklist {
  padding-left: 10px;
}

.new_task {
  padding-top: 10px;
}
